<%include('ejs/_data'); var meta = getData();%>
<%
var absolutePath = filename.split(site.developDir)[filename.split(site.developDir).length -1].replace('.ejs','.html');
var relativePath = '../'.repeat([absolutePath.split('/').length -1]);
%>
<!DOCTYPE html>
<html lang="en" dir="ltr" class="touch">
  <head>
    <meta charset="utf-8">
    <title></title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta content="" name="description">
    <meta name="keywords" content="">
    <link href="https://fonts.googleapis.com/css?family=Roboto+Condensed:400,700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="assets/css/style.css?<%=Math.random()%>">
    <script src='assets/js/lib.js' defer></script>
    <script src="assets/js/app.js?<%=Math.random()%>" defer></script>
  </head>
  <body>
    
    <div class="info">
      <p class="des">
        <span>Three.js</span>
        <span>GLSL</span>
        <span>jQuery</span>
      </p>
      <div class="links">
        <a href="https://github.com/yukiokamura/loader/tree/master/docs" target="_blank">
          <%- include('../dist/assets/svg/github.svg')%>
        </a>
      </div>
    </div>
  </body>
</html>
