@import "common/reset.scss";
@import "common/common";

html,
body {
  background: #2e2e2e;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

body {
  opacity: 0;
  &.font-loaded {
    opacity: 1;
  }
}

.info {
  position: absolute;
  bottom: 32px;
  right: 32px;
  .des {
    span {
      font-weight: 700;
      font-family: "Roboto Condensed", sans-serif;
      color: #fff;
      letter-spacing: 0.05em;
      font-size: 16px;
    }
  }
  .links {
    margin-top: 16px;
    text-align: right;
    svg {
      height: 14px;
      width: auto;
      display: block;
    }
  }
}

.loaded-resouses {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  font-family: "Roboto Condensed", sans-serif;
  font-weight: 700;
  opacity: 0;
  .loaded & {
    opacity: 1;
  }
  .tit {
    font-size: 16px;
  }
  .inner {
    margin-top: 32px;
    p + p {
      margin-top: 8px;
    }
  }
}

.loader {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  .wrap {
    width: 300px;
    .bar {
      width: 100%;
      height: 1px;
      background: #fff;
      transform-origin: left;
      transform: scaleX(0);
    }
    .number {
      font-weight: 700;
      font-family: "Roboto Condensed", sans-serif;
      color: #fff;
      letter-spacing: 0.05em;
      font-size: 16px;
      text-align: center;
      margin-top: 16px;
    }
  }
}
